.App {
  text-align: center;
}


.header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  opacity:0.5;
}

.footer{
  background-color: #282c34;
  min-height: 28vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  opacity:0.5;
 
}

.App-link {
  color: #61dafb;
}


@media screen and (max-width: 600px) {
  h1{
    font-family: 'Yusei Magic', sans-serif;
    font-size: 10vw;
  }
 
}
@media screen and (min-width: 601px) {
  h1{
    font-family: 'Yusei Magic', sans-serif;
    font-size: 8vw;
  }
  
}

form, h1{
  text-align:  -webkit-center;
}


.app-input{
 /* background-color: rgba(143, 120, 207, 0.377);*/
 margin:15vw;
 opacity: 0.8;
 
}
.app-input{
  margin-bottom: 35px;
}
.app-weather{
  margin-top:15px;
}

#switchIp{
  font-family: 'Yusei Magic', sans-serif;
  font-size: 20px;
}
.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
  display: contents;
}



@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

.icons{
 margin: 20px;
}